.sub-menu-container {
  display: none;
}

.sub-menu-wrapper {
  width: 100%;
  background: #269E4A;
background: linear-gradient(0deg,rgba(38, 158, 74, 1) 0%, rgba(63, 191, 117, 1) 50%, rgba(38, 158, 74, 1) 52%);
  border-bottom: 1px solid rgb(255 255 255 / 50%);
  border-top: 1px solid rgb(255 255 255 / 50%);
  max-width: 100% !important;
  padding: 10px 0px 10px 0px !important;
  position: sticky;
  top: 64px;
  transition: top 1s ease 0s;
  text-shadow: 0px 0px 20px #000000;

  border-top: solid 4px rgb(200, 1, 1);
  border-bottom: solid 4px rgb(200, 1, 1);

}

.sub-menu-wrapper.send-top {
  top: 0;
}

.sub-menu {
  max-width: 1180px;
  margin: auto;
  padding: 10px 24px;
  display: block;
  color: white;

}

.sub-menu > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.sub-menu p {
  margin: 0;
  height: 36px;
}

.sub-menu a.button {
  margin: 0;
  background-color: white;
  color: black;
  font-size: 15px;
  padding: 7px 10px;
}

.sub-menu h1 {
  font-size: 1.2em;
  font-weight: normal;
  margin: 0;
  font-family: var(--body-font-family);
}
